<div class="smug-teaser-image-right grid mx-auto grid-cols-12 lg:gap-12 xl:gap-24 relative z-10 items-start {% if additionalClasses is defined %}{{ additionalClasses }}{% endif %}">
    <div class="col-span-12 h-72 md:h-full lg:h-72 xl:h-100 mb-8 lg:mb-0 md:col-span-6 flex items-center order-last lg:order-last">
        {% if image.value is defined and image.value is not empty %}
            {% set imageValue = getImage(image.value) %}
            <img
                {% if id is defined %} {{ adminConfig(_context, 'image', id) }} {% endif %}
                class="w-full h-full"
                srcset="{{ imageValue.desktop.list.src }} 480w, {{ imageValue.desktop.detail.src }} 800w"
                sizes="(max-width: 600px) 480px,
                        800px"
                src="{{ imageValue.desktop.detail.src }}"
                alt="{{ imageValue.desktop.detail.file }}" />
        {% else %}
            <img
                {% if id is defined %} {{ adminConfig(_context, 'image', id) }} {% endif %}
                class="w-full h-full" />
        {% endif %}
    </div>
    <article
        class="smug-teaser-image-right-textbox {{ getTemplateItemClasses(template, 'box') }}"
    >
        <h2 class="{{ headline.classes}}" {% if id is defined %} {{ adminConfig(_context, 'headline', id) }} {% endif %}>
            {{ headline.value }}
        </h2>
        <div class="{{ caption.classes }}" {% if id is defined %} {{ adminConfig(_context, 'caption', id) }} {% endif %}>
            {{ caption.value | raw }}
        </div>
        <a
            href="{{ button.settings.link.value }}"
            title="{{ button.value }}"
            class="{{ button.classes }} p-1"
            {% if id is defined %} {{ adminConfig(_context, 'button', id) }} {% endif %}
        >
            <span class="flex">{{ button.value }} {{ include('@SmugFrontend/frontend/shared/icons/icon-next.html.twig') }}<span>
        </a>
    </article>
</div>