<article class="{% if additionalClasses is defined %}{{ additionalClasses }}{% endif %}">
    {% if headline.value is not empty %}
        <h2 class="{{ headline.classes }}" {% if id is defined %} {{ adminConfig(_context, 'headline', id) }} {% endif %}>
            {{ headline.value }}
        </h2>
    {% endif %}
    {% for tab in tabs %}
        {% if tab.data is defined %}
            <div class="my-6 shadow-md p-4">
                {{ include(tab.template.value, tab) }}
            </div>
        {% endif %}
    {% endfor %}
</article>